*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* utility */

.display-flex{
    display: flex;
}

.color-white{
    color: white;
}

.gap-header{
    gap: 10px;
}

.justify-content-center{
    justify-content: center;
}

.color-red{
    color: red;
}

.text-decoration{ text-decoration: line-through;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.line-height{
    line-height: 5px;
}

.bg-white{
    background-color: white;
}
/* intestazione */

header{
    height: 70px;
    background-color: rgb(211, 138, 3);
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    width: 150px;
}

/* layout catalogo */

.square-sfondo{
    max-width: 1850px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img{
    width: 100%;
}

.container-img{
    width: 30%;
    margin-top: 40px;
}

.position-relative{
    position: relative;
}
.label{
    position: absolute;
    bottom: 100px;
    padding: 5px;
}

.label-2{
    position: absolute;
    bottom: 100px;
    padding: 5px;
    left: 50px;
}

.label-3{
    position: absolute;
    bottom: 100px;
    padding: 5px;
}

.label-heart{
    position: absolute;
    top: 20px;
    padding: 10px;
    left: 94%;


}

/* footer */

footer{
    background-color: black;
    height: 70px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding: 10px;
    line-height: 30px;
}


    